/* Nastavení těla stránky*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Nastavení záhlavý*/

header {
    background-color: rgb(12, 215, 208);
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    color: white;
    
}

header h1 {
    font-size: 3em;
}

header p {
    font-size: 2em;
}

/*Nastavení hlavní části*/

main {
    width: 1200px;
    background-color: rgb(16, 158, 234);
    margin: auto;
}

/*Nastavení flexboxu*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    
}

.flex-container div {
    background-color: aqua;
    padding: 20px;
    margin: 20px;
    flex: 25%;
}

/*Responsivní design*/

@media screen and (max-width: 1200px) {
    main {
        width: 90%;
    }
    .flex-container {
        flex-direction: column;
    }
}